@import url(./accessibility.css);
@import url(./reset.css);
@import url(./typography.css);

body {
  background: url(/src/assets/landing_bg_s.webp) no-repeat center fixed;
  background-size: cover;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

button {
  border: 3px solid yellow;
  color: yellow;
  margin-bottom: 0 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
button:hover,
button:focus {
  background-color: yellow;
  color: black;
}

hr {
  width: 300px;
  color: yellow; /* firefox */
  border-color: yellow; /* chrome  */
  margin: 2rem auto;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  text-align: center;
  background-color: black;
  color: yellow;
}

.landing > div,
.contact > * {
  margin: 2rem 0;
}

.landing > div:first-child {
  margin-top: 0;
}
.landing > div:last-child {
  margin-bottom: 0;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.socials a {
  margin: 0 1.5rem;
  border-bottom: none;
}
.socials svg {
  width: 2rem;
}

.newsletter input {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 3rem auto;
}
#newsletter-error {
  margin-top: 2rem;
}

.info-container {
  min-height: 100vh;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1000px;
  min-height: 100vh;
  font-size: 24px;
  padding: 5rem;
  background: rgba(0, 0, 0, 0.8);
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.info p {
  margin-bottom: 3rem;
}

@media screen and (min-width: 1400px) {
  body {
    background: none;
  }
  .landing {
    position: fixed;
    top: 0;
    width: 50vw;
  }
  .info-container {
    background-image: url(/src/assets/landing_bg_m.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: max(50vw, 100vh);
    background-position-x: right;
    background-position-y: center;
    position: relative;
    left: 50vw;
    width: 50vw;
  }
}

@media screen and (min-width: 2560px) {
  .info-container {
    background-image: url(/src/assets/landing_bg_l.webp);
  }
}
