@import url('@fontsource/montserrat');

@font-face {
  font-family: 'Huscon Hand';
  src: url('../assets/HusconHand-Regular-optimized.woff2') format('woff2'),
    url('../assets/HusconHand-Regular-optimized.woff') format('woff'),
    url('../assets/HusconHand-Regular-optimized.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  color: var(--accent-color);
  font-family: 'Huscon Hand', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

input::placeholder {
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
  border-bottom: 1px dashed var(--accent-color);
}
a svg {
  fill: var(--accent-color);
}
a:hover,
a:focus {
  color: var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}
a:active {
  color: var(--active-color);
  border-color: var(--active-color);
}
a:hover svg,
a:focus svg {
  fill: var(--hover-color);
}
a:active svg {
  fill: var(--active-color);
}

input {
  border-bottom: 2px solid var(--accent-color);
  font-size: 1rem;
  text-align: center;
  line-height: 1.7;
}

button {
  font-size: 1rem;
}

@media screen and (min-height: 1000px) and (min-width: 430px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-height: 1200px) and (min-width: 490px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-height: 1400px) and (min-width: 540px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-height: 1600px) and (min-width: 590px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-height: 1800px) and (min-width: 650px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-height: 2000px) and (min-width: 700px) {
  html {
    font-size: 26px;
  }
}
